html, body {
    margin: 0px;
    padding: 0px;
}

main {
    color: black;
    font-size: 25px;
    display: grid;
    grid-template-columns: 250px auto;;
}

ul {
    list-style-type: none;
    justify-content: space-around;
}

ul a {
    text-decoration: none;
    position: relative;
    color: black;
}

ul a:hover {
    color: red;
}

.left {
    background-color: bisque;
}

.right {
    text-align: left;
    padding: 50px;
}

#dish_output{
    list-style-type: decimal;
}